* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #000;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    border: 2px solid black; //temp
}
.nav-list {
    display: flex;
    flex-direction: row;
}
.nav-item {
    list-style: none;
    cursor: pointer;
}
.nav-link {
    padding: 0 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
}
/*Main*/
.section-title {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82
}
/*section-summary*/
.section-summary {
    height: 820px;

    border: 2px solid white;
}
.main-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #fff;
}
.section-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 794px;

    border: 2px solid white;
}
.cv-container {
    width: 100%;
    text-align: center;
}
.button {
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    background-color: #000;
}
.button:hover {
    border: none;
    background-color: #BDAE82;
    color: #fff;
    cursor: pointer;
}
.cv-preview {
    width: 100%;
    height: 900px;
}
.cv-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #BDAE82;
    cursor: pointer;
}

.section-links {

    border: 2px solid white;
}
.section-news {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid white;
}
.news-date {
    color: white;
}
.news-title {
    color: white;
}
.news-content {
    color: white;
}
.section-contacts {

    border: 2px solid white;
}